<h3>Name : Nripesh Kumar
<h4>Aim : Model to predict spam from emails

Loading the necessary libraries

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

Loading and understanding the dataset

In [2]:
df = pd.read_csv('spam_ham_dataset.csv')
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [3]:
df.describe()

        Unnamed: 0    label_num
count  5171.000000  5171.000000
mean   2585.000000     0.289886
std    1492.883452     0.453753
min       0.000000     0.000000
25%    1292.500000     0.000000
50%    2585.000000     0.000000
75%    3877.500000     1.000000
max    5170.000000     1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [5]:
df.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

x contains the input data and y contains target variables

In [6]:
x,y = df.text, df.label

Splitting data in training and testing data

In [7]:
xtrain,xtest, ytrain, ytest = train_test_split(x,y,test_size=0.25)

Converting vocabulary dictionary to document-term matrix

In [8]:
vectorizer = CountVectorizer()

In [19]:
count = vectorizer.fit_transform(xtrain, ytrain)

In [10]:
count.data

array([2, 3, 5, ..., 2, 1, 1], dtype=int64)

Training the model

In [11]:
clf = MultinomialNB()

In [12]:
targets = ytrain.values

In [13]:
clf.fit(count, targets)

MultinomialNB()

In [14]:
ypred = clf.predict(vectorizer.transform(xtest))

Checking score of trained model

In [15]:
clf.score(count, targets)

0.9871067560598247

In [16]:
accuracy_score(ytest, ypred)

0.9760247486465584

Confusion matrix of trained model

In [17]:
confusion_matrix(ytest, ypred)

array([[871,   6],
       [ 25, 391]], dtype=int64)